<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.councellorbot">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".signup" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateProfileActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SearchCollegeActivity"
            android:label="@string/title_activity_search_college"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.councellorbot.MainActivity" />
        </activity>
        <activity
            android:name=".CollegeDetailActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".SearchCollegeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.councellorbot.SearchCollegeActivity" />
        </activity>
        <activity
            android:name=".EngineeringEntranceTestActivity"
            android:label="@string/title_activity_entrance_test"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.councellorbot.MainActivity" />
        </activity>
        <activity
            android:name=".MedicalEntranceTestActivity"
            android:label="@string/title_activity_medical_entrance_test"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.councellorbot.MainActivity" />
        </activity>
        <activity
            android:name=".LawEntranceTestActivity"
            android:label="@string/title_activity_Law_entrance_test"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.councellorbot.MainActivity" />
        </activity>
        <activity
            android:name=".TenEntranceTestActivity"
            android:label="@string/title_activity_Ten_entrance_test"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.councellorbot.MainActivity" />
        </activity>
        <activity
            android:name=".StartTestActivity"
            android:label="@string/title_activity_start_test"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.councellorbot.MainActivity" />
        </activity>
        <activity
            android:name=".CouncellingActivity"
            android:label="@string/title_activity_councelling"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.councellorbot.MainActivity" />
        </activity>
        <activity android:name=".AgricultureEntranceTestActivity"></activity>
    </application>

</manifest>